body {
    background-color: #FFFFCC;
    font-family: arial;
}

h2 {
    text-transform: uppercase;
    color: #0000CC;
}

p {
    color: #000066;
    font-weight: bold;
}

.main {
    width: 30%;
    margin: 0px auto;
    padding: 25px;
}

input {
    border: 1px rgb(221, 221, 221) solid;
}

p label {
    float: left;
    text-align: right;
    color: #000066;
    font-weight: bold;
    padding-right: 10px;
}

.end {
    padding-left: 33%;
}

.text {
    display: flex;
}