body {
    margin: 0px;
    padding: 0px;
}

.logo {
    color: #0000CC;
    font-weight: bold;
    font-size: 30px;
}

.container {
    width: 600px;
    margin: 0px auto;
    background-color: #FFFFCC;
}

.main {
    width: 100%;
}

.group {
    width: 100%;
    margin-bottom: 25px;
}

.main .group label {
    width: 30%;
    color: #000066;
    font-weight: bold;
    float: left;
    text-align: right;
    margin-right: 10px;
}

select {
    width: 170px;
}

button {
    background-color: #CCCCCC;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
}

.end {
    padding-left: 32%;
}